.app-cursor{
    z-index:1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1.5px solid black;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0,0,0);
    position: fixed;
    animation: colorchange 5s infinite ease;
}

@keyframes colorchange {
    0% {
        border-color: linear-gradient(80deg,red,blue) 1;
        box-shadow: inset 0 0 3px blue;
    }
    10% {
        border-color: #8e44ad;
        box-shadow: inset 0 0 3px #8e44ad;
    }
    20% {
        border-color: #1abc9c;
        box-shadow: inset 0 0 3px #1abc9c;
    }
    30% {
        border-color: #d35400;
        box-shadow: inset 0 0 3px #d35400;
    }
    40% {
        border-color: blue;
        box-shadow: inset 0 0 3px blue;
    }
    50% {
        border-color: #34495e;
        box-shadow: inset 0 0 3px #34495e;
    }
    60% {
        border-color: blue;
        box-shadow: inset 0 0 3px blue;
    }
    70% {
        border-color: #2980b9;
        box-shadow: inset 0 0 3px #2980b9;
    }
    80% {
        border-color: #f1c40f;
        box-shadow: inset 0 0 3px #f1c40f;
    }
    90% {
        border-color: #2980b9;
        box-shadow: inset 0 0 3px #2980b9;
    }
    100% {
        border-color: pink;
        box-shadow: inset 0 0 3px #8e44ad;
    }
  }