.mainpage{
    display: flex;
    flex-wrap: wrap;
    .mainpage_left{
        height: 47rem;
        width: 59.6% !important;
        color: white;
        background-color: rgba(91, 138, 114, 0.9);
        //z-index: -10;
    .mainpage_content {
        padding-left: 16rem;
        padding-right: 3.7rem;
        padding-top: 5rem;
        h1{
            font-size: 4rem;
            font-weight: 900;
            letter-spacing: .15rem;
        }
        h4{
            padding: 1.5rem 0  4rem .25rem;
        }
        .meet{
            padding-left: 4px;
            color: #141700;
            span{
                padding-right: .75rem;
            }
            #name{
                display: inline-block;
                font-weight: 900;
            }
            padding-bottom: 6rem;
        }
        .scrolldown{
            padding-left: 4px;
        }
        .mainpage_anime{
            padding-left: 58.4rem;
            margin: -24rem;
            .hero-design{
                z-index: -1;
            }
        }
    }
    }
}