
  .scroll-container{
    width: 40px;
    height: 80px;
    border: 5px solid #fff;
    border-radius: 20px;
    position: relative;
    .scroller{
      width: 17px;
      height: 17px;
      border-radius: 8px;
      background-color: #fff;
      position: absolute;
      top: 4px;
      left: 6px;
      bottom: 44px;
      animation: scroller 1500ms ease-out infinite;
    }
  }
  @keyframes scroller{
    0%{
      bottom: 44px;
    }
    5%{
      top: 4px;
    }
    32%{    
      bottom: 4px;
    }
    66%{
      top:44px;
      bottom: 4px;
    }
    100%{
      top: 4px;
      bottom: 44px;
    }
  }